FamoCity/FamoCity/Web References/NopService/NopService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nop.Plugin.Misc.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nop.Plugin.Misc.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderError" nillable="true" type="tns:OrderError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderError" nillable="true" type="tns:ArrayOfOrderError" />
  <xs:complexType name="OrderError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderError" nillable="true" type="tns:OrderError" />
</xs:schema>